KinproPressingApplication/Service References/ClothService/KinproService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KinproService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KinproService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetAllClothsSetting_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllClothsSetting_Result" nillable="true" type="tns:GetAllClothsSetting_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllClothsSetting_Result" nillable="true" type="tns:ArrayOfGetAllClothsSetting_Result" />
  <xs:complexType name="GetAllClothsSetting_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClothDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductImageUrl" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllClothsSetting_Result" nillable="true" type="tns:GetAllClothsSetting_Result" />
</xs:schema>